<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Login Titles -->
      <h2>Book Bros</h2>
        
        <form (submit)='register()'>
            <!-- Login Form -->
            <input type="text" id="username" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="credentials.username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="credentials.password">
            <input type="password" id="passwordCheck" class="fadeIn fourth" name="login" placeholder="confirm password" [(ngModel)]="credentials.passwordCheck"> <p></p>
            <button class="fadeIn fifth" class="btn btn-primary">Submit</button> <p></p>
        </form>
    </div>
</div>