<button (click)="getShop()" class="btn btn-primary">Show All</button> <p></p>
<input type="text" id="author" name="author" placeholder="Author" #author> <p></p>
<button (click)="searchAuthor(author.value)" class="btn btn-primary">Search By Author</button> <p></p>
<input type="text" id="title" name="title" placeholder="Title" #title> <p></p>
<button (click)="searchTitle(title.value)" class="btn btn-primary">Search By Title</button> <p></p>

<table>
    <div *ngFor='let book of books'>
        {{book.title}}
        {{book.author}}
        {{book.price}}
        {{book.price}}
        {{book.published}}
        {{book.inventory}}

        <button (click)='changeBoolean(book)'>More Info</button>
        <button (click)='buyBook(book)'>Purchase</button>
        <button *ngIf='userRole === "Customer"' (click)='addToWishlist(book)'>Add to Wishlist</button>
        <p *ngIf='book.flag'>{{book.description}}</p>
        <p *ngIf='book.flag'>Subjects: {{book.subjects}}</p>
    </div>
</table>