<div class='container'>
    <h2>Search by Title, Author, or Both</h2>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" (submit)='search()'>
            <input [(ngModel)]='byTitle' name='title' class="form-control mr-sm-2" type="search" placeholder="Search by Title" aria-label="Search">
            <input [(ngModel)]='byAuthor' name='author' class="form-control mr-sm-2" type="search" placeholder="Search by Author" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <strong *ngIf='results' class='ml-3'>Results: {{results}}</strong>
        </form>
    </nav>

    <div *ngFor = 'let work of works' class='border m-3 p-4 rounded'>
        <h3 class='text-primary'>{{work.title}}</h3>
        <h5>by {{work.author_name[0]}}</h5>
        <strong>Pulished in {{work.first_publish_year}}</strong>
        <button (click)='addToShop(work)' class='btn btn-primary float-right'>Add to Shop</button>
    </div>
</div>