<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Titles -->
    <h2>Book Bros</h2>

    <!-- Login Form -->
    <input type="text" id="username" class="fadeIn second" name="login" placeholder="username" #username>
    <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" #password> <p></p>
    <button (click)="login(username.value, password.value)" class="fadeIn fourth" class="btn btn-primary">Submit</button> <p></p>
    <button (click)="login(username.value, password.value)" class="fadeIn fourth" class="btn btn-primary">Register New Account</button> <p></p>
</div>
